<p>This is a list of all the user's journal entries!</p>
<% @user_entries.each do |e| %>
  <%= e.content %><br>
  <%= e.created_at %><br>
<% end %>

<p>This is a list of all the entries in general!</p>
<% @entries.each do |e| %>
  <%= e.content %><br>
  <%= e.author %>
  <%= e.created_at %><br>
<% end %>

<%= will_paginate @entries %>

<%= link_to 'Write New Entry', new_entry_path %>
<%= link_to 'Return Home', root_path %>