<% if session[:user_id] %>
  <div class="button view_journal"><%= link_to 'View Your Journal', entries_path %></div>
  <div class="button log_out"><%= link_to 'Log Out', session_path(session[:user_id]), :method => :delete %></div>
  <div class="button delete_account"><%= link_to 'Delete Account', user_path(session[:user_id]), :method => :delete %></div>
<% else %>
  <div class="button sign_in"><%= link_to "Sign-in", new_session_path %></div>
  <div class="button sign_up"><%= link_to "Sign-up", new_user_path %></div>
<% end %>
