<% if session[:user_id] %>
  <div class="user_entries_section">
    <div class="user_entries_elements">
      <h3 class="user_entries_header">Your Journal Entries:</h3>
        <% @user_entries.each do |e| %>
          <li>
            <a href='/entries/<%= e.id%>' class="entry_title"><%=e.title%></a><br>
            <div class="created_at"><%= e.created_at %></div>
          </li>
        <% end %>
      <div class="user_entries_links">
        <%= link_to 'Write New Entry', new_entry_path, :class => "new_entry_link" %>
      </div>
    </div>
  </div>

  <div class="recent_entries">
    <div class="recent_entries_elements">
      <h3 class="recent_entries_header">Recent 'Anonymous Journaling' Entries:</h3>
        <% @entries.each do |e| %>
          <li>
            <a href='/entries/<%= e.id%>' class="entry_title"><%=e.title%></a><br>
            <%= link_to e.author, user_path(e.user_id), :class => "author_link" %><br>
            <div class="created_at"><%= e.created_at %></div>
          </li>
        <% end %>
      <div class="pagination"><%= will_paginate @entries %></div>
    </div>
  </div>

  <div class="button delete_account"><%= link_to 'Delete Account', user_path(session[:user_id]), :method => :delete %></div>

<% else %>
  <div class="welcome_message">
    <p>Anonymous Journaling is a Rails-based webapp that allows you to write and read journal entries while remaining anonymous.</p>
    <p>When you create an account, you are assigned a completely random public screen name. This screen name becomes your identity and allows other users to read your journal entries.</p>
    <p>A.J. combines the emotional release of journaling and revealing your inner thoughts to others while providing you with the safety of a hidden identity.</p>
    <h2>Welcome to Anonymous Journaling!</h2>
    <p>Note from the creator: I created this project to combine my former background in psychology with my new field of web development. I think the field of technology can be used to truly help people, and that is the reason I created Anonymous Journaling</p>
    <p>Send me an email <a href="mailto:lindseymenges@gmail.com">here</a>, I love feedback!</p>
  </div>

  <div class="index_buttons">
    <div class="button sign_in"><%= link_to "Sign-in", new_session_path %></div>
    <div class="button sign_up"><%= link_to "Sign-up", new_user_path %></div>
  </div>

<% end %>
